.todos-item-body {
  padding: var(--space-md);
  padding-left: 4rem;

  &__edit {
    max-width: 10rem;
    margin-bottom: var(--space-lg);
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: var(--space-sm);
    margin-bottom: var(--space-xl);
  }

  &__save {
    max-width: 15rem;
    grid-column: 2;
    justify-self: end;
  }
}
