.base-input {
  border: 2px solid var(--color-border);
  border-radius: var(--border-radius-sm);
  padding: var(--space-sm);
  width: 100%;

  &--TEXT {
    border: none;
    padding: 0;

    &:focus {
      outline: none;
    }
  }

  &--TYPE-TEXTAREA {
    resize: none;
    height: 10rem;
    cursor: text;

    &:empty::before {
      content: attr(placeholder);
      opacity: 0.5;
    }
  }
}
