.base-button {
  display: block;
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: var(--border-radius-sm);
  transition: 0.15s ease-in-out;
  min-height: 4.2rem;
  min-width: 10rem;
  cursor: pointer;

  &:not(:disabled):hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--ICON,
  &--ICON-DANGER {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: unset;
    min-width: unset;
    height: 3.5rem;
    width: 3.5rem;
  }

  &--ICON-DANGER {
    color: var(--color-red);
    background-color: transparent;

    &:hover {
      background-color: var(--color-red);
      color: var(--color-white);
    }
  }
}
