.todos-item {
  $block: &;

  &__header {
    display: grid;
    align-items: center;
    grid-template-columns: 5rem 1fr auto;
    gap: var(--space-md);
    padding: var(--space-md);
    border-radius: var(--border-radius-bs);
    box-shadow: var(--shadow-sm);
    transition: 0.15s ease-in-out;
    cursor: pointer;

    &:not(:has(#{$block}__check:hover)):hover {
      background-color: var(--color-secondary-light);
    }
  }

  &--CHILD {
    #{$block} {
      &__header {
        padding: var(--space-sm);
      }

      &__title {
        font-size: var(--font-size-md);
      }
    }
  }

  &--CHECKED {
    > #{$block}__header {
      opacity: 1;
      background-color: var(--color-primary-lighter);
      #{$block} {
        &__title {
          color: var(--color-border);

          &::before {
            width: 100%;
          }
        }
        &__check {
          border-color: var(--color-primary-light);

          &::before {
            opacity: 1;
          }
        }
      }
    }
  }

  &__title {
    transition: 0.15s ease-in-out;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: var(--space-xs);
    line-height: normal;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 0%;
      height: 2px;
      background-color: var(--color-border);
      transition: 0.05s ease-out;
    }
  }

  &__subtitle {
    display: block;
    font-size: var(--font-size-md);
    font-weight: 300;
  }

  &__check {
    --check-size: 2.2rem;
    --check-content-size: 65%;

    justify-self: center;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--check-size);
    height: var(--check-size);
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    transition: 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
      border-color: var(--color-primary-light);
    }

    &::before {
      content: '';
      display: block;
      width: var(--check-content-size);
      height: var(--check-content-size);
      background-color: var(--color-primary-light);
      border-radius: 50%;
      opacity: 0;
      transition: 0.15s ease-in-out;
    }
  }

  &__priority {
    display: block;
    font-size: var(--font-size-sm);
    font-weight: 300;
    margin-top: var(--space-sm);

    &--1 {
      color: var(--color-green);
    }
    &--2 {
      color: var(--color-orange);
    }
    &--3 {
      color: var(--color-red);
    }
  }

  &__icon {
    color: var(--color-primary-light);
  }
}
