.todos-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding-bottom: var(--space-xl);
  overflow-y: auto;

  &--NESTED {
    padding-left: var(--space-xl);
    padding-bottom: var(--space-sm);
    margin-top: var(--space-sm);
  }
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.3s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(2rem);
}

.list-leave-to {
  transform: translateY(-2rem);
}

.list-leave-active {
  position: absolute;
}
